*.dart linguist-detectable=true
*.yaml linguist-detectable=true

*.c linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.cmake linguist-vendored
*.java linguist-vendored
*.xml linguist-vendored
*.gradle linguist-vendored
*.h linguist-vendored
*.cpp linguist-vendored
